USE [master]
GO
/****** Object:  Database [LABORATORIO]    Script Date: 15/03/2026 19:37:21 ******/
CREATE DATABASE [LABORATORIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LABORATORIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPER\MSSQL\DATA\LABORATORIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LABORATORIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPER\MSSQL\DATA\LABORATORIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LABORATORIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LABORATORIO]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PhotoFilename] [nvarchar](200) NULL,
	[PasswordText] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[DoctorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Security]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Security](
	[UserID] [int] NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_UserValidation]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_UserValidation] AS
SELECT 
    U.UserID,
    U.Username,
    U.Email,
    U.Role,
    U.DoctorID,
    S.Salt,
    S.PasswordHash
FROM Users U
INNER JOIN Users_Security S ON U.UserID = S.UserID;
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTests]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTests](
	[TestID] [int] NOT NULL,
	[TestName] [nvarchar](100) NOT NULL,
	[Units] [nvarchar](20) NULL,
	[SampleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[OrderNumber] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[CompletedDate] [datetime] NULL,
	[ApprovedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PhotoFilename] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReferenceRanges]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReferenceRanges](
	[RangeID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
	[Gender] [char](1) NOT NULL,
	[MinAgeYear] [int] NOT NULL,
	[MaxAgeYear] [int] NOT NULL,
	[MinVal] [decimal](10, 2) NOT NULL,
	[MaxVal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SampleTypes]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleTypes](
	[SampleID] [int] NOT NULL,
	[SampleName] [nvarchar](50) NOT NULL,
	[ContainerColor] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SampleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[ResultID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
	[ResultValue] [decimal](10, 2) NULL,
	[IsAbnormal] [bit] NULL,
	[Notes] [nvarchar](500) NULL,
	[EnteredBy] [int] NULL,
	[EnteredDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[AlertLevel] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Doctors] ([DoctorID], [FullName], [LicenseNumber], [Email]) VALUES (1, N'Dr. Gregory House', N'MED-001', N'house@hospital.com')
INSERT [dbo].[Doctors] ([DoctorID], [FullName], [LicenseNumber], [Email]) VALUES (2, N'Dra. Lisa Cuddy', N'MED-002', N'cuddy@hospital.com')
GO
INSERT [dbo].[LabTests] ([TestID], [TestName], [Units], [SampleID]) VALUES (10, N'Hemoglobina', N'g/dL', 2)
INSERT [dbo].[LabTests] ([TestID], [TestName], [Units], [SampleID]) VALUES (20, N'Glucosa', N'mg/dL', 1)
INSERT [dbo].[LabTests] ([TestID], [TestName], [Units], [SampleID]) VALUES (30, N'Colesterol Total', N'mg/dL', 1)
GO
INSERT [dbo].[Orders] ([OrderID], [PatientID], [DoctorID], [OrderDate], [OrderNumber], [Status], [CompletedDate], [ApprovedBy]) VALUES (5000, 100, 1, CAST(N'2026-02-12T20:09:53.220' AS DateTime), N'ORD-2024-001', N'Pendiente', NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [PatientID], [DoctorID], [OrderDate], [OrderNumber], [Status], [CompletedDate], [ApprovedBy]) VALUES (5001, 103, 2, CAST(N'2026-03-08T14:58:21.013' AS DateTime), N'ORD-20260308-0001', N'Aprobada', CAST(N'2026-03-15T19:07:23.220' AS DateTime), 4)
INSERT [dbo].[Orders] ([OrderID], [PatientID], [DoctorID], [OrderDate], [OrderNumber], [Status], [CompletedDate], [ApprovedBy]) VALUES (5002, 102, 1, CAST(N'2026-03-14T08:36:33.000' AS DateTime), N'ORD-20260314-0001', N'Aprobada', CAST(N'2026-03-15T15:20:20.067' AS DateTime), 1)
GO
INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Gender], [BirthDate], [Email], [PhotoFilename]) VALUES (100, N'Carlos', N'Pérez', N'M', CAST(N'1985-05-20' AS Date), N'carlos@mail.com', N'carlos.png')
INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Gender], [BirthDate], [Email], [PhotoFilename]) VALUES (101, N'Ana', N'Gómez', N'F', CAST(N'1990-08-15' AS Date), N'ana@mail.com', N'ana.png')
INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Gender], [BirthDate], [Email], [PhotoFilename]) VALUES (102, N'Pedrito', N'López', N'M', CAST(N'2023-01-10' AS Date), N'pedro@mail.com', N'pedrito.png')
GO
INSERT [dbo].[ReferenceRanges] ([RangeID], [TestID], [Gender], [MinAgeYear], [MaxAgeYear], [MinVal], [MaxVal]) VALUES (1001, 10, N'M', 0, 1, CAST(9.50 AS Decimal(10, 2)), CAST(13.50 AS Decimal(10, 2)))
INSERT [dbo].[ReferenceRanges] ([RangeID], [TestID], [Gender], [MinAgeYear], [MaxAgeYear], [MinVal], [MaxVal]) VALUES (1002, 10, N'M', 2, 12, CAST(11.50 AS Decimal(10, 2)), CAST(15.50 AS Decimal(10, 2)))
INSERT [dbo].[ReferenceRanges] ([RangeID], [TestID], [Gender], [MinAgeYear], [MaxAgeYear], [MinVal], [MaxVal]) VALUES (1003, 10, N'M', 13, 17, CAST(13.00 AS Decimal(10, 2)), CAST(16.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[SampleTypes] ([SampleID], [SampleName], [ContainerColor]) VALUES (1, N'Suero', N'Rojo')
INSERT [dbo].[SampleTypes] ([SampleID], [SampleName], [ContainerColor]) VALUES (2, N'Sangre Total', N'Lila')
INSERT [dbo].[SampleTypes] ([SampleID], [SampleName], [ContainerColor]) VALUES (3, N'Orina', N'Amarillo')
GO
INSERT [dbo].[TestResults] ([ResultID], [OrderID], [TestID], [ResultValue], [IsAbnormal], [Notes], [EnteredBy], [EnteredDate], [ModifiedBy], [ModifiedDate], [AlertLevel]) VALUES (9001, 5000, 10, CAST(15.00 AS Decimal(10, 2)), 0, N'Valores normales', NULL, NULL, NULL, NULL, N'NORMAL')
INSERT [dbo].[TestResults] ([ResultID], [OrderID], [TestID], [ResultValue], [IsAbnormal], [Notes], [EnteredBy], [EnteredDate], [ModifiedBy], [ModifiedDate], [AlertLevel]) VALUES (9002, 5000, 20, CAST(110.00 AS Decimal(10, 2)), 1, N'Paciente no hizo ayuno', NULL, NULL, NULL, NULL, N'ANORMAL')
INSERT [dbo].[TestResults] ([ResultID], [OrderID], [TestID], [ResultValue], [IsAbnormal], [Notes], [EnteredBy], [EnteredDate], [ModifiedBy], [ModifiedDate], [AlertLevel]) VALUES (9003, 5001, 30, CAST(121.00 AS Decimal(10, 2)), 1, N'jhgjhg77', NULL, CAST(N'2026-03-08T14:58:21.140' AS DateTime), 3, CAST(N'2026-03-13T22:35:46.297' AS DateTime), N'ANORMAL')
GO
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PhotoFilename], [PasswordText], [Role], [DoctorID]) VALUES (1, N'admin', N'admin@biolablis.com', N'default.png', N'12345', N'Admin', NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PhotoFilename], [PasswordText], [Role], [DoctorID]) VALUES (2, N'kevbast', N'kevin.bayas.castelar@gmail.com', N'mapa hollow enteroop.jpg', N'12345', N'Admin', NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PhotoFilename], [PasswordText], [Role], [DoctorID]) VALUES (3, N'ericbasa', N'paty_sa14@hotmail.es', N'checklist.jpg', N'12345', N'Laboratorio', NULL)
GO
INSERT [dbo].[Users_Security] ([UserID], [Salt], [PasswordHash]) VALUES (1, N'Þ½i`Ys°`FJÍðIX9hî°ålüÆóvæÁ¼31yh!x° Uò Ú', 0x3761D95CBFDC90DAD6350BB658BC7BCDE9CAE72801953EDB1FEB887C2D4AE479686481DBACE768227C4CD95965865393224F40A6D4521E510A98AEAA60AC79CD)
INSERT [dbo].[Users_Security] ([UserID], [Salt], [PasswordHash]) VALUES (2, N'*ÃPCè¡A¡ÙûðU´,KJÊ§=~¡=8»)ÒÏÖEÖmp*)I*', 0x621995819F44200AEC80A1D74E1F302928513F1948887752B3C5232591769ED214168EDC0FECA24F17E63A84357796B6F702B7B9F4CC3BB773CD41DF66BB8130)
INSERT [dbo].[Users_Security] ([UserID], [Salt], [PasswordHash]) VALUES (3, N'ÃXìGL''#¥j?ßo¡Ï]) W|µZÇÇä8G­U?(MÞ +', 0xCAE41923D4CF82B906E2100F9CE3E7C8E6E4BD2F2F9C53F27AF522E21B4EE6AEBF905204E14194062BE445199E490AF6D88B0274709B13F5927B58B14EBDA552)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__CAC5E743B3C43D93]    Script Date: 15/03/2026 19:37:21 ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E46EDEEB23]    Script Date: 15/03/2026 19:37:21 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pendiente') FOR [Status]
GO
ALTER TABLE [dbo].[TestResults] ADD  DEFAULT ((0)) FOR [IsAbnormal]
GO
ALTER TABLE [dbo].[TestResults] ADD  DEFAULT (getdate()) FOR [EnteredDate]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_SampleTypes] FOREIGN KEY([SampleID])
REFERENCES [dbo].[SampleTypes] ([SampleID])
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_SampleTypes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_ApprovedBy]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Doctors]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Patients]
GO
ALTER TABLE [dbo].[ReferenceRanges]  WITH CHECK ADD  CONSTRAINT [FK_ReferenceRanges_LabTests] FOREIGN KEY([TestID])
REFERENCES [dbo].[LabTests] ([TestID])
GO
ALTER TABLE [dbo].[ReferenceRanges] CHECK CONSTRAINT [FK_ReferenceRanges_LabTests]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_EnteredBy] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_EnteredBy]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_LabTests] FOREIGN KEY([TestID])
REFERENCES [dbo].[LabTests] ([TestID])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_LabTests]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_ModifiedBy]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_Orders]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Doctors]
GO
ALTER TABLE [dbo].[Users_Security]  WITH CHECK ADD  CONSTRAINT [FK_UsersSecurity_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users_Security] CHECK CONSTRAINT [FK_UsersSecurity_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Entregada' OR [Status]='Aprobada' OR [Status]='Completada' OR [Status]='EnProceso' OR [Status]='Pendiente'))
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD CHECK  (([AlertLevel]='SIN_RANGO' OR [AlertLevel]='CRITICO' OR [AlertLevel]='ANORMAL' OR [AlertLevel]='NORMAL'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Laboratorio' OR [Role]='Doctor' OR [Role]='Admin'))
GO
/****** Object:  StoredProcedure [dbo].[SP_CanDelete]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CanDelete]
    @TableName NVARCHAR(50),
    @RecordID INT,
    @CanDelete BIT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Count INT = 0;
    
    IF @TableName = 'Patients'
    BEGIN
        SELECT @Count = COUNT(*) FROM Orders WHERE PatientID = @RecordID;
        SET @Message = CASE WHEN @Count > 0 
            THEN 'No se puede eliminar. El paciente tiene ' + CAST(@Count AS NVARCHAR(10)) + ' órdenes.'
            ELSE 'El paciente puede ser eliminado.' END;
    END
    ELSE IF @TableName = 'Doctors'
    BEGIN
        SELECT @Count = COUNT(*) FROM Orders WHERE DoctorID = @RecordID;
        SET @Message = CASE WHEN @Count > 0 
            THEN 'No se puede eliminar. El médico tiene ' + CAST(@Count AS NVARCHAR(10)) + ' órdenes.'
            ELSE 'El médico puede ser eliminado.' END;
    END
    ELSE IF @TableName = 'SampleTypes'
    BEGIN
        SELECT @Count = COUNT(*) FROM LabTests WHERE SampleID = @RecordID;
        SET @Message = CASE WHEN @Count > 0 
            THEN 'No se puede eliminar. El tipo tiene ' + CAST(@Count AS NVARCHAR(10)) + ' exámenes.'
            ELSE 'El tipo de muestra puede ser eliminado.' END;
    END
    ELSE IF @TableName = 'LabTests'
    BEGIN
        SELECT @Count = COUNT(*) FROM TestResults WHERE TestID = @RecordID;
        SET @Message = CASE WHEN @Count > 0 
            THEN 'No se puede eliminar. El examen tiene ' + CAST(@Count AS NVARCHAR(10)) + ' resultados.'
            ELSE 'El examen puede ser eliminado.' END;
    END
    ELSE IF @TableName = 'Orders'
    BEGIN
        SELECT @Count = COUNT(*) FROM TestResults WHERE OrderID = @RecordID;
        SET @Message = CASE WHEN @Count > 0 
            THEN 'No se puede eliminar. La orden tiene ' + CAST(@Count AS NVARCHAR(10)) + ' resultados.'
            ELSE 'La orden puede ser eliminada.' END;
    END
    
    SET @CanDelete = CASE WHEN @Count = 0 THEN 1 ELSE 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerateOrderNumber]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GenerateOrderNumber]
    @NewOrderNumber NVARCHAR(20) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Date NVARCHAR(8) = CONVERT(NVARCHAR(8), GETDATE(), 112);
    DECLARE @Sequence INT;
    
    SELECT @Sequence = ISNULL(MAX(CAST(RIGHT(OrderNumber, 4) AS INT)), 0)
    FROM Orders
    WHERE OrderNumber LIKE 'ORD-' + @Date + '-%';
    
    SET @Sequence = @Sequence + 1;
    SET @NewOrderNumber = 'ORD-' + @Date + '-' + RIGHT('0000' + CAST(@Sequence AS NVARCHAR(4)), 4);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNextID]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetNextID]
    @TableName NVARCHAR(50),
    @NextID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @TableName = 'Patients'
        SELECT @NextID = ISNULL(MAX(PatientID), 0) + 1 FROM Patients;
    ELSE IF @TableName = 'Doctors'
        SELECT @NextID = ISNULL(MAX(DoctorID), 0) + 1 FROM Doctors;
    ELSE IF @TableName = 'Orders'
        SELECT @NextID = ISNULL(MAX(OrderID), 0) + 1 FROM Orders;
    ELSE IF @TableName = 'LabTests'
        SELECT @NextID = ISNULL(MAX(TestID), 0) + 1 FROM LabTests;
    ELSE IF @TableName = 'SampleTypes'
        SELECT @NextID = ISNULL(MAX(SampleID), 0) + 1 FROM SampleTypes;
    ELSE IF @TableName = 'TestResults'
        SELECT @NextID = ISNULL(MAX(ResultID), 0) + 1 FROM TestResults;
    ELSE IF @TableName = 'ReferenceRanges'
        SELECT @NextID = ISNULL(MAX(RangeID), 0) + 1 FROM ReferenceRanges;
    ELSE IF @TableName = 'Users'
        SELECT @NextID = ISNULL(MAX(UserID), 0) + 1 FROM Users;
    ELSE
        SET @NextID = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetOrderDetails]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetOrderDetails]
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        O.OrderID,
        O.OrderNumber,
        O.OrderDate,
        P.PatientID,
        P.FirstName,
        P.LastName,
        P.FirstName + ' ' + P.LastName AS PatientName,
        P.Gender,
        P.BirthDate,
        DATEDIFF(YEAR, P.BirthDate, GETDATE()) - 
            CASE WHEN DATEADD(YEAR, DATEDIFF(YEAR, P.BirthDate, GETDATE()), P.BirthDate) > GETDATE() 
                 THEN 1 ELSE 0 END AS PatientAge,
        P.Email AS PatientEmail,
        P.PhotoFilename,
        D.DoctorID,
        D.FullName AS DoctorName,
        D.LicenseNumber,
        D.Email AS DoctorEmail,
        TR.ResultID,
        TR.TestID,
        LT.TestName,
        LT.Units,
        TR.ResultValue,
        TR.IsAbnormal,
        TR.Notes,
        ST.SampleName,
        ST.ContainerColor,
        RR.MinVal,
        RR.MaxVal,
        CASE WHEN RR.MinVal IS NOT NULL THEN 
            CAST(RR.MinVal AS NVARCHAR(10)) + ' - ' + CAST(RR.MaxVal AS NVARCHAR(10))
        ELSE 'Sin rango definido' END AS ReferenceRange,
        CASE 
            WHEN TR.ResultValue IS NULL THEN 'Pendiente'
            WHEN RR.MinVal IS NULL THEN 'Sin Rango'
            WHEN TR.ResultValue >= RR.MinVal AND TR.ResultValue <= RR.MaxVal THEN 'Normal'
            WHEN TR.ResultValue < (RR.MinVal - (RR.MaxVal - RR.MinVal) * 0.2) OR 
                 TR.ResultValue > (RR.MaxVal + (RR.MaxVal - RR.MinVal) * 0.2) THEN 'Critico'
            ELSE 'Anormal'
        END AS ValidationStatus
    FROM Orders O
    INNER JOIN Patients P ON O.PatientID = P.PatientID
    INNER JOIN Doctors D ON O.DoctorID = D.DoctorID
    INNER JOIN TestResults TR ON O.OrderID = TR.OrderID
    INNER JOIN LabTests LT ON TR.TestID = LT.TestID
    INNER JOIN SampleTypes ST ON LT.SampleID = ST.SampleID
    LEFT JOIN ReferenceRanges RR ON TR.TestID = RR.TestID
        AND (RR.Gender = P.Gender OR RR.Gender = 'A')
        AND DATEDIFF(YEAR, P.BirthDate, GETDATE()) BETWEEN RR.MinAgeYear AND RR.MaxAgeYear
    WHERE O.OrderID = @OrderID
    ORDER BY LT.TestName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReferenceRange]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetReferenceRange]
    @PatientID INT,
    @TestID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Gender CHAR(1);
    DECLARE @Age INT;
    
    SELECT 
        @Gender = Gender, 
        @Age = DATEDIFF(YEAR, BirthDate, GETDATE()) - 
               CASE 
                   WHEN DATEADD(YEAR, DATEDIFF(YEAR, BirthDate, GETDATE()), BirthDate) > GETDATE() 
                   THEN 1 
                   ELSE 0 
               END
    FROM Patients 
    WHERE PatientID = @PatientID;
    
    IF @Gender IS NULL
    BEGIN
        SELECT NULL AS RangeID, NULL AS MinVal, NULL AS MaxVal, 'Paciente no encontrado' AS ErrorMessage;
        RETURN;
    END
    
    SELECT TOP 1
        RangeID,
        TestID,
        Gender,
        MinAgeYear,
        MaxAgeYear,
        MinVal,
        MaxVal
    FROM ReferenceRanges
    WHERE TestID = @TestID
      AND (Gender = @Gender OR Gender = 'A')
      AND @Age BETWEEN MinAgeYear AND MaxAgeYear
    ORDER BY 
        CASE WHEN Gender = @Gender THEN 0 ELSE 1 END,
        (MaxAgeYear - MinAgeYear) ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRequiredTubes]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetRequiredTubes]
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ST.SampleID,
        ST.SampleName,
        ST.ContainerColor,
        COUNT(DISTINCT TR.TestID) AS TestCount,
        STRING_AGG(LT.TestName, ', ') AS TestNames
    FROM TestResults TR
    INNER JOIN LabTests LT ON TR.TestID = LT.TestID
    INNER JOIN SampleTypes ST ON LT.SampleID = ST.SampleID
    WHERE TR.OrderID = @OrderID
    GROUP BY ST.SampleID, ST.SampleName, ST.ContainerColor
    ORDER BY ST.SampleName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidateResult]    Script Date: 15/03/2026 19:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ValidateResult]
    @TestID INT,
    @PatientID INT,
    @ResultValue DECIMAL(10,2),
    @Status NVARCHAR(20) OUTPUT,
    @IsAbnormal BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MinVal DECIMAL(10,2);
    DECLARE @MaxVal DECIMAL(10,2);
    DECLARE @RangeTable TABLE (RangeID INT, TestID INT, Gender CHAR(1), MinAgeYear INT, MaxAgeYear INT, MinVal DECIMAL(10,2), MaxVal DECIMAL(10,2));
    
    INSERT INTO @RangeTable
    EXEC SP_GetReferenceRange @PatientID, @TestID;
    
    SELECT @MinVal = MinVal, @MaxVal = MaxVal FROM @RangeTable;
    
    IF @MinVal IS NULL OR @MaxVal IS NULL
    BEGIN
        SET @Status = 'Sin Rango';
        SET @IsAbnormal = 0;
        RETURN;
    END
    
    DECLARE @RangeSpan DECIMAL(10,2) = @MaxVal - @MinVal;
    DECLARE @CriticalThreshold DECIMAL(10,2) = @RangeSpan * 0.2;
    
    IF @ResultValue >= @MinVal AND @ResultValue <= @MaxVal
    BEGIN
        SET @Status = 'Normal';
        SET @IsAbnormal = 0;
    END
    ELSE IF @ResultValue < (@MinVal - @CriticalThreshold) OR 
            @ResultValue > (@MaxVal + @CriticalThreshold)
    BEGIN
        SET @Status = 'Critico';
        SET @IsAbnormal = 1;
    END
    ELSE
    BEGIN
        SET @Status = 'Anormal';
        SET @IsAbnormal = 1;
    END
END
GO
USE [master]
GO
